.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* no muestra los Icon */
.SidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}
.sidebarOption > h2 {
  font-weight: 900;
  font-size: 16px;
  margin-right: 16px;
  padding: 16px;
}
.sidebarOption:hover {
  background-color: #4f4f4f;
  border-radius: 16px;
  color: #e89faf;
  transition: color 80ms ease-out;
}
.sidebarOption:hover {
  background-color: #4f4f4f;
  border-radius: 16px;
  color: #e89faf;
  transition: color 80ms ease-out;
}

.sidebarOption--active {
  color: #e89faf;
}
