.sidebar {
  color: #9a616d;
  border-right: 1px solid #4f4f4f;
  flex: 0.2;
  /* min-width: 250px; */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  border: "1px solid red";
}
.sidebar__twitterIcon {
  color: #4f4f4f;
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sidebar__tweet {
  background-color: #4f4f4f !important;
  border: none !important;
  color: #e89faf !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 16px !important;
  height: 50px !important;
  width: 200px;
  margin-top: 20px !important;
}
